<suite name="Suite">
    <test  name="Test">
        <groups>
            <run>
                <include name="sanity"/>
                <exclude name="regression"/>
            </run>
        </groups>
        <classes>
         <class name="com.app.test.AppTests"/>

        </classes>
    </test>
</suite>